#resultsCards {
    margin-top: 25px;
    
  }

  .result_card {
    width: 400px !important;  
    margin: 10px;
    display: inline-block;
    vertical-align: text-top;
  }

  .result_card img {
    height:300px;
    width: 400px;
    overflow: hidden;
  }

  .commentsP{
      height:20px;
      overflow: hidden;
  }

  .create-post-btn {

  }

.feedback-comment {
  padding: 10px;
  background: #f3f3f3;
  margin-bottom: 8px;
  border-radius: 4px;
}
