#resultsCards {
  
  margin-top: 25px;
  text-align: center;
}

.card:nth-child(even){
  position: relative;
  left: 50px;
}

.result_card {
  border: none;
  background-color:transparent;
  position: relative;
  width: 400px !important;  
  display: inline-block;
  overflow: hidden;
}

.result_card.img {
  text-align: center;
}

.card-img-top{
  text-align:right;
  height:300px;
  width: auto;
  overflow: hidden;
}

.commentsP{
  text-align:left;
  height:20px;
  overflow: hidden;
}

.title{
  background: #f3f3f3;
}

.description{
  position: relative;
  top: -10px;
  height: 24px;
  background: #f3f3f3;
  overflow: hidden;
  transition-timing-function: ease;
}

.description:hover{
  height: auto;
  transition-timing-function: ease;
}

.likeCount{
  border-radius: 4px;
  text-align:left;
  height: 40px;
  background: #f3f3f3;
  position: relative;
  top:-26px;
  padding-left: 40px;
}

.likeBtn{
  position: relative;
  top:-90px;
  left: -135px;
  border: none;
  background-color: transparent;
  font-size:30px;
  color:#fa8273
}

.commentBtn{
  background-color: transparent;
  border: none;
  position: relative;
  top:-90px;
  left: 120px;
}

.feedback-comment {
padding: 10px;
background: #f3f3f3;
margin-bottom: 8px;
border-radius: 4px;
}

body{
background-color: #cccccc;
background-image: linear-gradient(to right,#c6cbef, #dff6f0);
}
